<div dir="rtl" style="text-align: right;">
<h1>تغییر شکل داده‌ها</h1>

<h2> چرخش</h2>
<p>شبیه به اکسل، ما می‌توانیم داده‌های خود را با استفاده از عملکرد 
pivot_table
 در پانداس چرخش دهیم. برای این کار، از تابع 
 pivot_table()
  استفاده خواهیم کرد.</p>
<p>پارامتر 
values
 ستونی است که برای تجمیع استفاده می‌شود، پارامتر 
 index
  برای مقادیر شاخص است که چندین ردیف ایجاد می‌کند، و پارامتر 
  columns
   برای مقداری است که می‌خواهید چندین ستون ایجاد شود.</p>

<p>همچنین می‌توانید از پارامتر 
aggfunc
 برای ارسال تابعی که با آن می‌خواهید چرخش‌های خود را تجمیع کنید، استفاده کنید.</p>
<p>بیایید به یک مثال نگاه کنیم:</p>


</div>

In [1]:
import numpy as np
import pandas as pd
names = ['age', 'workclass', 'fnlwgt', 'education', 'educationnum', 'maritalstatus', 'occupation', 'relationship', 'race',
        'sex', 'capitalgain', 'capitalloss', 'hoursperweek', 'nativecountry', 'label']
train_df = pd.read_csv("statics/data/02_08_01_adult.data", header=None, names=names)

# Pivot the data frame to show by relationship, workclass (rows) and label (columns) the average hours per week.
print(pd.pivot_table(train_df, values='hoursperweek', index=['relationship','workclass'], 
               columns=['label'], aggfunc=np.mean).round(2))

label                            <=50K   >50K
relationship   workclass
Husband        ?                 30.72  37.33
               Federal-gov       42.34  43.05
               Local-gov         41.40  44.56
               Private           42.50  46.18
               Self-emp-inc      48.29  50.49
               Self-emp-not-inc  46.01  48.07
               State-gov         38.67  45.17
               Without-pay       34.25    NaN
Not-in-family  ?                 31.29  39.44
               Federal-gov       40.60  47.54
               Local-gov         40.38  45.01
               Never-worked      35.00    NaN
               Private           40.20  47.03
               Self-emp-inc      49.06  53.58
               Self-emp-not-inc  41.53  45.02
               State-gov         38.87  44.19
Other-relative ?                 29.10  40.00
               Federal-gov       38.40  45.00
               Local-gov         35.92  48.00
               Private           37.44  40.74
               Self-emp-inc      40.00  41.67
               Self-emp-not-inc  36.16  49.29
               State-gov         36.40  29.00
Own-child      ?                 32.39  50.00
               Federal-gov       35.11    NaN
               Local-gov         35.59  41.25
               Never-worked      24.80    NaN
               Private           32.84  43.09
               Self-emp-inc      39.60  43.75
               Self-emp-not-inc  40.33  49.38
               State-gov         30.10  38.33
               Without-pay       35.00    NaN
Unmarried      ?                 32.75  50.00
               Federal-gov       39.30  43.65
               Local-gov         40.09  45.79
               Private           38.64  45.70
               Self-emp-inc      45.74  58.11
               Self-emp-not-inc  40.62  47.81
               State-gov         38.15  44.56
               Without-pay       37.50    NaN
Wife           ?                 28.29  29.72
               Federal-gov       38.93  39.74
               Local-gov         37.87  40.38
               Never-worked      40.00    NaN
               Private           36.56  38.31
               Self-emp-inc      44.67  38.14
               Self-emp-not-inc  36.53  34.61
               State-gov         36.50  39.10
               Without-pay       23.67    NaN

/tmp/ipykernel_12138/75632625.py:8: FutureWarning: The provided callable <function mean at 0x7e7e30d62980> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  print(pd.pivot_table(train_df, values='hoursperweek', index=['relationship','workclass'],

<div dir="rtl" style="text-align: right;">

<p>اکنون ما یک جدول از میانگین ساعات کار در هفته برای یک رابطه، کلاس کاری و برچسب داده شده داریم.</p>

<h2>جدول ضربدری</h2>
<p>Crosstab
 یک راه خوب برای به دست آوردن جداول فرکانس است. آنچه شما انجام می‌دهید این است که دو ستون را به تابع می‌دهید و فرکانس تمام ترکیب‌های جفتی این دو متغیر را خواهید داشت.</p>
<p>بیایید به یک مثال با استفاده از 
lable
 و 
 
 relationship
  به عنوان ستون‌های ما نگاه کنیم:</p>



</div>

In [2]:
import numpy as np
import pandas as pd
names = ['age', 'workclass', 'fnlwgt', 'education', 'educationnum', 'maritalstatus', 'occupation', 'relationship', 'race',
        'sex', 'capitalgain', 'capitalloss', 'hoursperweek', 'nativecountry', 'label']
train_df = pd.read_csv("statics/data/02_08_01_adult.data", header=None, names=names)

# Calculate the frequencies between label and relationship
print(pd.crosstab(train_df['label'], train_df.relationship))

relationship  Husband  Not-in-family  Other-relative  Own-child  Unmarried  \
label
<=50K            7275           7449             944       5001       3228
>50K             5918            856              37         67        218

relationship  Wife
label
<=50K          823
>50K           745

<div dir="rtl" style="text-align: right;">




<p>اکنون ما شمارش‌ها را بر اساس 
relationship
 و 
 lable
  داریم. پارامتر اول برای ردیف‌ها و دومی برای ستون‌ها است. ما همچنین می‌توانیم نتایج را با استفاده از پارامتر 
normalize=True
 نرمال‌سازی کنیم.</p>


</div>

In [4]:
import numpy as np
import pandas as pd
names = ['age', 'workclass', 'fnlwgt', 'education', 'educationnum', 'maritalstatus', 'occupation', 'relationship', 'race',
        'sex', 'capitalgain', 'capitalloss', 'hoursperweek', 'nativecountry', 'label']
train_df = pd.read_csv("statics/data/02_08_01_adult.data", header=None, names=names)

# Crosstab with normalized outputs
print(pd.crosstab(train_df['label'], train_df.relationship, normalize=True))

relationship   Husband  Not-in-family  Other-relative  Own-child  Unmarried  \
label
<=50K         0.223427       0.228771        0.028992   0.153589   0.099137
>50K          0.181751       0.026289        0.001136   0.002058   0.006695

relationship      Wife
label
<=50K         0.025276
>50K          0.022880

<div dir="rtl" style="text-align: right;">

<h2>تغییر شکل</h2>
<p>با پانداس، شما می‌توانید از تابع 
pivot()
 برای تغییر شکل داده‌های خود استفاده کنید. برای نمایش این مفهوم، من از کد <a href="https://stackoverflow.com/questions/38218063/pivoting-dataframe-with-pandas">این پست</a> برای ایجاد یک داده‌فریم در قالب طولانی استفاده می‌کنم.</p>


</div>

In [16]:

def makeTimeDataFrame(freq='B', periods=30):
    rng = pd.date_range(start='1/1/2000', periods=periods, freq=freq)
    df = pd.DataFrame({
        'A': np.random.randn(periods),
        'B': np.random.randn(periods),
        'C': np.random.randn(periods),
        # 'D': np.random.randn(periods)
    }, index=rng)
    return df

def unpivot(frame):
    N, K = frame.shape
    data = {
        'value': frame.values.ravel('F'),
        'variable': np.asarray(frame.columns).repeat(N),
        'date': np.tile(np.asarray(frame.index), K)
    }
    return pd.DataFrame(data, columns=['date', 'variable', 'value'])

df = unpivot(makeTimeDataFrame())
print(df)

         date variable     value
0  2000-01-03        A -0.587541
1  2000-01-04        A  0.335829
2  2000-01-05        A -0.323766
3  2000-01-06        A -0.703142
4  2000-01-07        A  2.378754
..        ...      ...       ...
85 2000-02-07        C  0.060903
86 2000-02-08        C  0.728321
87 2000-02-09        C -0.550624
88 2000-02-10        C  0.272852
89 2000-02-11        C -0.344885

[90 rows x 3 columns]

<div dir="rtl" style="text-align: right;">

<p>همانطور که از خروجی بالا می‌بینید، یک قالب طولانی
(long format)
 جایی است که شما یک متغیر دارید که مانند یک ستون بالقوه عمل می‌کند. در این مثال، متغیر دارای مقادیر 
A، B، و C 
است. این یک قالب طولانی است. برای تبدیل آن به قالب عرضی
(wide format)
، ما ستون‌های 
A، B و C
 را ایجاد می‌کنیم و ستون متغیر را حذف می‌کنیم.</p>



</div>

<div dir="rtl" style="text-align: right;">

<h3>از قالب طولی به عرضی</h3>
<p>در اینجا نحوه تبدیل این دیتافریم به قالب طولی به قالب عرضی آورده شده است:</p>



</div>

In [17]:
def makeTimeDataFrame(freq='B', periods=30):
    rng = pd.date_range(start='1/1/2000', periods=periods, freq=freq)
    df = pd.DataFrame({
        'A': np.random.randn(periods),
        'B': np.random.randn(periods),
        'C': np.random.randn(periods),
        # 'D': np.random.randn(periods)
    }, index=rng)
    return df

def unpivot(frame):
    N, K = frame.shape
    data = {
        'value': frame.values.ravel('F'),
        'variable': np.asarray(frame.columns).repeat(N),
        'date': np.tile(np.asarray(frame.index), K)
    }
    return pd.DataFrame(data, columns=['date', 'variable', 'value'])

df = unpivot(makeTimeDataFrame())
print(df)
# Use pivot to keep date as the index and value as the values, but use the vaiable column to create new columns
df_pivot = df.pivot(index='date', columns='variable', values='value')
print(df_pivot)

         date variable     value
0  2000-01-03        A  0.351327
1  2000-01-04        A -0.954080
2  2000-01-05        A  0.149148
3  2000-01-06        A -0.374576
4  2000-01-07        A  0.272129
..        ...      ...       ...
85 2000-02-07        C -1.016679
86 2000-02-08        C -0.695845
87 2000-02-09        C  0.837639
88 2000-02-10        C -0.321616
89 2000-02-11        C -0.895077

[90 rows x 3 columns]
variable           A         B         C
date
2000-01-03  0.351327 -0.302926  0.033854
2000-01-04 -0.954080  0.365672  0.639966
2000-01-05  0.149148  0.514141  0.582889
2000-01-06 -0.374576  0.265932  1.765446
2000-01-07  0.272129  0.216697 -1.369341
2000-01-10  0.371210 -0.148624  0.711441
2000-01-11  0.139629  0.718556 -1.584769
2000-01-12  0.232081  1.123939 -0.824413
2000-01-13 -1.300506 -1.294328 -1.888474
2000-01-14  0.211800  0.296443  1.173058
2000-01-17  0.311488 -0.380890  1.412225
2000-01-18 -1.211518  1.635546  0.157209
2000-01-19  1.001975  0.211709 -0.801635
2000-01-20  1.372805  0.146023 -1.135194
2000-01-21  1.632137 -1.143271 -0.534783
2000-01-24 -0.091931  0.906871  1.030445
2000-01-25  0.155584 -0.640270 -0.079097
2000-01-26 -0.121805 -0.498868 -0.747638
2000-01-27  0.329298 -0.589642  0.213041
2000-01-28 -1.659691  1.117086  0.318249
2000-01-31 -0.434997 -1.278588  0.293494
2000-02-01 -0.215728  0.066118 -0.270004
2000-02-02 -1.053461 -1.391104  0.226614
2000-02-03  0.693849  0.206261  1.128202
2000-02-04 -0.911189  0.088052 -2.791465
2000-02-07 -0.899832 -1.000013 -1.016679
2000-02-08 -1.022203 -1.338592 -0.695845
2000-02-09 -0.033262 -1.767305  0.837639
2000-02-10 -0.180231 -0.126734 -0.321616
2000-02-11  1.349861  0.831238 -0.895077

<div dir="rtl" style="text-align: right;">


<p>ما از تابع 
pivot()
 استفاده می‌کنیم. پارامتر 
 index
  ستونی است که ما می‌خواهیم برای شاخص دیتافریم جدیدمان استفاده کنیم. متغیر 
  columns
   برای ستونی است که می‌خواهیم از مقادیر منحصر به فرد آن برای ایجاد ستون‌های جدید استفاده کنیم. پارامتر 
   values
    ستونی است که می‌خواهیم از آن برای پر کردن مقادیر این ستون‌های جدید استفاده کنیم.</p>


<h3>از قالب عرضی به طولی</h3>
<p>برای تبدیل قالب از عرضی به طولی، 
Pandas
 به ما قابلیت را باز کردن از طریق تابع 
unstack()
 می‌دهد. این تابع   ستون‌های ما را دوباره به یک متغیر تکی بازمی‌گرداند.</p>
<p>بیایید یک مثال در زیر ببینیم:</p>

</div>

In [18]:
def makeTimeDataFrame(freq='B', periods=30):
    rng = pd.date_range(start='1/1/2000', periods=periods, freq=freq)
    df = pd.DataFrame({
        'A': np.random.randn(periods),
        'B': np.random.randn(periods),
        'C': np.random.randn(periods),
        # 'D': np.random.randn(periods)
    }, index=rng)
    return df

def unpivot(frame):
    N, K = frame.shape
    data = {
        'value': frame.values.ravel('F'),
        'variable': np.asarray(frame.columns).repeat(N),
        'date': np.tile(np.asarray(frame.index), K)
    }
    return pd.DataFrame(data, columns=['date', 'variable', 'value'])

df = unpivot(makeTimeDataFrame())
print(df)
# Convert to wide format
df_pivot = df.pivot(index='date', columns='variable', values='value')

# Convert back to long format
print(df_pivot.unstack())

         date variable     value
0  2000-01-03        A -0.967627
1  2000-01-04        A -1.164520
2  2000-01-05        A  1.086129
3  2000-01-06        A -0.011663
4  2000-01-07        A  1.496319
..        ...      ...       ...
85 2000-02-07        C -0.787128
86 2000-02-08        C -0.339178
87 2000-02-09        C -1.840875
88 2000-02-10        C  0.378748
89 2000-02-11        C -0.254335

[90 rows x 3 columns]
variable  date
A         2000-01-03   -0.967627
          2000-01-04   -1.164520
          2000-01-05    1.086129
          2000-01-06   -0.011663
          2000-01-07    1.496319
                          ...
C         2000-02-07   -0.787128
          2000-02-08   -0.339178
          2000-02-09   -1.840875
          2000-02-10    0.378748
          2000-02-11   -0.254335
Length: 90, dtype: float64